@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: opacity 0.5s ease-out;  */
  margin-top: 2rem;
  border-radius: 5px;
}

.envelope {
  width: 400px;
  height: 370px;
  background-color: #f4e1d2;
  border-radius: 10px;
  position: relative;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.envelope-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: #f4e1d2;
}
.envelope-front h2 {
  margin-bottom: 5rem;
  font-size: 20px;
}

.envelope-front p {
  margin-bottom: 2px;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
}

.invitation {
  width: 100%;
}

.invitation h1,
.invitation h2,
.invitation h3,
.invitation h4,
.envelope-front h2 {
  margin: 10px 0;
  color: #7b7b7b;
}

.invitation h1 {
  font-size: 24px;
}
.invitation p {
  font-size: 16px;
  margin: 5px 0;
}

strong {
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}

.invitation h2 {
  font-size: 24px;
  font-weight: bold;
}

.invitation h4 {
  font-size: 18px;
  color: #555;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: span 2;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}

/* button[type="submit"]:hover {
  background-color: #4caf50;
} */
